<a href="https://colab.research.google.com/github/sedrisella/Pemrograman-python/blob/main/task_4_modul_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##TASK 4 MODUL 6
Nama: Sedri Sella Jumeni

#Data Science 
Data science adalah salah satu disiplin ilmu yang secara khusus mempelajari soal data 
terutama data kuantitatif atau data numerik.

#Pandas DataFrame
Pandas berasal dari kata Python Data Analysis Library
Mendukung data multi-dimensi yang artinya
menggunakan 2 buah index.

**Series **
Series merupakan struktur data dasar dalam Pandas
yang dapat berisi tipe data seperti integer, string, dll. Dan mendukung tipe data sama 
atau campuran. Contoh series object

In [ ]:
import pandas as pd

# membuat series
s = pd.Series([10, 20, 30, 40, 50])

# menampilkan series
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Cek Tipe Struktur Data Series atau Bukan

In [ ]:
type(s)

pandas.core.series.Series

mengubah nama index

In [ ]:
# mengubah nama indeks
s = s.rename({'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E'})

# menampilkan series setelah perubahan
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#DATA FRAME
DataFrame merupakan array dua dimensi dengan baris dan kolom. Struktur data ini 
merupakan cara paling standar untuk menyimpan data. Secara sederhana, DataFrame 
merupakan tabel/data tabular
1.  Data Frame menggunakan List

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

2.  DataFrame Menggunakan Dictionary

In [ ]:
dictionary={'buah':['Apel','Jeruk','Mangga'],'Jumlah':[4,10,8]}
df=pd.DataFrame(dictionary)
df

     buah  Jumlah
0    Apel       4
1   Jeruk      10
2  Mangga       8



3.  DataFrame Menggunakan List dengan Tipe Data Campuran

In [ ]:
import pandas as pd

# buat list dengan tipe data campuran
data = [['John', 70,80,85,5], ['Sara', 70,80,85,6], ['Mike', 80,79,80,5]]

# buat dataframe dari list
df = pd.DataFrame(data, columns=['Nama','Tugas','UTS','UAS','Rata-rata'])

# tampilkan dataframe
print(df)

   Nama  Tugas  UTS  UAS  Rata-rata
0  John     70   80   85          5
1  Sara     70   80   85          6
2  Mike     80   79   80          5



4.  DataFrame Menggunakan List & Dictionary dengan Tipe Data Campuran

In [ ]:
import pandas as pd 

# buat list dengan tipe data campuran
data = [{'Name': 'sari', 'Umur': 23, 'Gender': 'Perempuan'},
        {'Name': 'Sara', 'Umur': 28, 'Gender': 'Perempuan'},
        {'Name': 'ardian', 'Umur': 30, 'Gender': 'Laki-laki'}]

# buat dataframe dari list dan dictionary
df = pd.DataFrame(data)

# tampilkan dataframe
print(df)

     Name  Umur     Gender
0    sari    23  Perempuan
1    Sara    28  Perempuan
2  ardian    30  Laki-laki

##Merge, Join, & Concatenate DataFrame 
Ketiga fungsi ini pengertiannya adalah operasi penggabungan. Perbedaannya adalah 
sebagai berikut



1.   Merge 
adalah operasi penggabungan antara DataFrame Objects.

In [ ]:
#Data pertama
import pandas as pd 
nama = ['berti','aris','rini']
tugas=[70,80,85]
jurusan=['IF','SI','KA']
df3=pd.DataFrame({'Nama':nama,'Tugas':tugas,'Jurusan':jurusan})
df3

    Nama  Tugas Jurusan
0  berti     70      IF
1   aris     80      SI
2   rini     85      KA

In [ ]:
#Data kedua
import pandas as pd 
nama = ['berti','kinan','yuyun']
UTS=[70,85,80]
jurusan=['IF','SI','SI']
df4=pd.DataFrame({'Nama':nama,'UTS':UTS,'Jurusan':jurusan})
df4

    Nama  UTS Jurusan
0  berti   70      IF
1  kinan   85      SI
2  yuyun   80      SI


2.  Inner Merge

In [ ]:
df3.merge(df4)

    Nama  Tugas Jurusan  UTS
0  berti     70      IF   70



3.   Left Merge

In [ ]:
df3.merge(df4, on='Nama',how='left')

    Nama  Tugas Jurusan_x   UTS Jurusan_y
0  berti     70        IF  70.0        IF
1   aris     80        SI   NaN       NaN
2   rini     85        KA   NaN       NaN



4. Right Merge

In [ ]:
df3.merge(df4, on='Nama',how='right')

    Nama  Tugas Jurusan_x  UTS Jurusan_y
0  berti   70.0        IF   70        IF
1  kinan    NaN       NaN   85        SI
2  yuyun    NaN       NaN   80        SI



5. Outer Merge

In [ ]:
df3.merge(df4, on='Nama',how='outer')

    Nama  Tugas Jurusan_x   UTS Jurusan_y
0  berti   70.0        IF  70.0        IF
1   aris   80.0        SI   NaN       NaN
2   rini   85.0        KA   NaN       NaN
3  kinan    NaN       NaN  85.0        SI
4  yuyun    NaN       NaN  80.0        SI

##Join 
Join adalah operasi penggabungan dengan menggunakan index.

In [ ]:
#Data pertama
nama = ['berti','aris','rini']
tugas=[70,80,85]
jurusan=['IF','SI','KA']
df5=pd.DataFrame({'Nama':nama,'Tugas':tugas,'Jurusan':jurusan},index=['L1','L2','L3'])
df5

     Nama  Tugas Jurusan
L1  berti     70      IF
L2   aris     80      SI
L3   rini     85      KA

In [ ]:
#Data kedua

nama = ['berti','kinan','yuyun']
UTS=[70,85,80]
jurusan=['IF','SI','SI']
df6=pd.DataFrame({'Nama':nama,'UTS':UTS,'Jurusan':jurusan},index=['L2','L3','L4'])
df6

     Nama  UTS Jurusan
L2  berti   70      IF
L3  kinan   85      SI
L4  yuyun   80      SI

Iner Join

In [ ]:
df_inner = pd.merge(df5, df6, on='Nama', how='inner')

# tampilkan hasil
print(df_inner)

    Nama  Tugas Jurusan_x  UTS Jurusan_y
0  berti     70        IF   70        IF

Right Join

In [ ]:
df_right = pd.merge(df5, df6, on='Nama', how='right')

# tampilkan hasil
print(df_right)

    Nama  Tugas Jurusan_x  UTS Jurusan_y
0  berti   70.0        IF   70        IF
1  kinan    NaN       NaN   85        SI
2  yuyun    NaN       NaN   80        SI

#Concatenate 
Concatenate adalah operasi penggabungan objek DataFrame secara vertical.

In [ ]:
pd.concat([df5,df6],sort='False')

<ipython-input-51-16fc3f42f8b0>:1: FutureWarning: Passing non boolean values for sort is deprecated and will error in a future version!
  pd.concat([df5,df6],sort='False')

   Jurusan   Nama  Tugas   UTS
L1      IF  berti   70.0   NaN
L2      SI   aris   80.0   NaN
L3      KA   rini   85.0   NaN
L2      IF  berti    NaN  70.0
L3      SI  kinan    NaN  85.0
L4      SI  yuyun    NaN  80.0

#Pandas DataFrame - Import Data CSV 
Pada tahap ini akan dibahas mengenai cara import data CSV ke dalam Panda DataFrame 
dan mengolah datanya.

In [1]:
import pandas as pd

# baca file CSV
df = pd.read_csv("dataspotify.csv")

# tampilkan dataframe
print(df)

               Nama Band  Tahun Berdiri  Pendengar per Bulan
0               Slipknot           1995              6603189
1            Linkin Park           1996             17418362
2      Avenged Sevenfold           1999              5410274
3   Bring Me the Horizon           2004              4428374
4              Green Day           1987             15692462
5                   Muse           1994              8528417
6         As I Lay Dying           2000               996422
7                Trivium           1999              1880758
8            Limp Bizkit           1994              5910689
9               Skid Row           1986              2492044
10              Bon Jovi           1983             15581843

#Macam-macam Operasi
1.head

In [3]:
df.head()

              Nama Band  Tahun Berdiri  Pendengar per Bulan
0              Slipknot           1995              6603189
1           Linkin Park           1996             17418362
2     Avenged Sevenfold           1999              5410274
3  Bring Me the Horizon           2004              4428374
4             Green Day           1987             15692462

2.Tail

In [4]:
df.tail()

         Nama Band  Tahun Berdiri  Pendengar per Bulan
6   As I Lay Dying           2000               996422
7          Trivium           1999              1880758
8      Limp Bizkit           1994              5910689
9         Skid Row           1986              2492044
10        Bon Jovi           1983             15581843

3.Shape

In [5]:
df.shape

(11, 3)

4.Mean, Median, Standar Deviasi

In [6]:
df.mean()

<ipython-input-6-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Tahun Berdiri          1.994273e+03
Pendengar per Bulan    7.722076e+06
dtype: float64

In [7]:
df.median()

<ipython-input-7-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Tahun Berdiri             1995.0
Pendengar per Bulan    5910689.0
dtype: float64

In [8]:
df.std()

<ipython-input-8-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Tahun Berdiri          6.512924e+00
Pendengar per Bulan    5.894113e+06
dtype: float64

5.Max, Min, Count

In [9]:
df.max()

Nama Band               Trivium
Tahun Berdiri              2004
Pendengar per Bulan    17418362
dtype: object

In [10]:
df.min()

Nama Band              As I Lay Dying
Tahun Berdiri                    1983
Pendengar per Bulan            996422
dtype: object

In [11]:
df.count()

Nama Band              11
Tahun Berdiri          11
Pendengar per Bulan    11
dtype: int64

6.Describe()

In [12]:
df.describe()

       Tahun Berdiri  Pendengar per Bulan
count      11.000000         1.100000e+01
mean     1994.272727         7.722076e+06
std         6.512924         5.894113e+06
min      1983.000000         9.964220e+05
25%      1990.500000         3.460209e+06
50%      1995.000000         5.910689e+06
75%      1999.000000         1.205513e+07
max      2004.000000         1.741836e+07

7.Rename dan Drop Kolom

In [15]:
df=df.rename(columns={'Nama Band':'Band'})
df

                    Band  Tahun Berdiri  Pendengar per Bulan
0               Slipknot           1995              6603189
1            Linkin Park           1996             17418362
2      Avenged Sevenfold           1999              5410274
3   Bring Me the Horizon           2004              4428374
4              Green Day           1987             15692462
5                   Muse           1994              8528417
6         As I Lay Dying           2000               996422
7                Trivium           1999              1880758
8            Limp Bizkit           1994              5910689
9               Skid Row           1986              2492044
10              Bon Jovi           1983             15581843

In [16]:
df=df.drop(columns=['Tahun Berdiri'])
df

                    Band  Pendengar per Bulan
0               Slipknot              6603189
1            Linkin Park             17418362
2      Avenged Sevenfold              5410274
3   Bring Me the Horizon              4428374
4              Green Day             15692462
5                   Muse              8528417
6         As I Lay Dying               996422
7                Trivium              1880758
8            Limp Bizkit              5910689
9               Skid Row              2492044
10              Bon Jovi             15581843

8.Iloc

In [18]:
#menampilkan recprd satu kolom yang berada pada index ke-1
df.iloc[:,1]

0      6603189
1     17418362
2      5410274
3      4428374
4     15692462
5      8528417
6       996422
7      1880758
8      5910689
9      2492044
10    15581843
Name: Pendengar per Bulan, dtype: int64

In [19]:
#tampilkan semua baris dan kolom
df.iloc[:,:]

                    Band  Pendengar per Bulan
0               Slipknot              6603189
1            Linkin Park             17418362
2      Avenged Sevenfold              5410274
3   Bring Me the Horizon              4428374
4              Green Day             15692462
5                   Muse              8528417
6         As I Lay Dying               996422
7                Trivium              1880758
8            Limp Bizkit              5910689
9               Skid Row              2492044
10              Bon Jovi             15581843

In [ ]:
9.Loc

In [22]:
#menampilkan record satu kolom dengan menulis nama kolomnya
df.loc[:,'Band']

0                 Slipknot
1              Linkin Park
2        Avenged Sevenfold
3     Bring Me the Horizon
4                Green Day
5                     Muse
6           As I Lay Dying
7                  Trivium
8              Limp Bizkit
9                 Skid Row
10                Bon Jovi
Name: Band, dtype: object

10. Mengisi nilai sama untuk satu kolom

In [23]:
#mengisi nilai 1 untuk kolom'pendengar per bulan'
df['Pendengar per Bulan']=1
df

                    Band  Pendengar per Bulan
0               Slipknot                    1
1            Linkin Park                    1
2      Avenged Sevenfold                    1
3   Bring Me the Horizon                    1
4              Green Day                    1
5                   Muse                    1
6         As I Lay Dying                    1
7                Trivium                    1
8            Limp Bizkit                    1
9               Skid Row                    1
10              Bon Jovi                    1

11.filter

In [25]:
df['Pendengar per Bulan']>1

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
Name: Pendengar per Bulan, dtype: bool